/Binaries/
/Build/*/FileOpenOrder/
/DerivedDataCache/
/Intermediate/
/Saved/
/.vs/
/.idea/
/*.sln
/*.sln.DotSettings.user
/*.VC.db
/Content/Maps/*_BuiltData.uasset
/Content/Maps/L_Prototype_01.umap
/Tools/__pycache__/
/Artifacts/
/Art/*.zip
/compile_commands.json
/.cache/
/IshibashiriPrototype.code-workspace
